[Unit]
Description=Run allsky360-meteo every 10 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=10min
AccuracySec=30s
Persistent=true
Unit=allsky360-meteo.service

[Install]
WantedBy=timers.target
