[Unit]
Description=Run allsky360-aurora every 5 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
AccuracySec=30s
Persistent=true
Unit=allsky360-aurora.service

[Install]
WantedBy=timers.target
