[Unit]
Description=Allsky360 fetch: meteo (oneshot)
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=allskyuser
Group=allskygroup
WorkingDirectory=/home/allskyuser/database
ExecStart=/opt/allsky360/bin/allsky360-meteo -c /home/allskyuser/config.ini -d /home/allskyuser/database -f /opt/allsky360/allsky-api/public/latest_meteo_data.json
ReadWritePaths=/home/allskyuser/database
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=full
ProtectHome=false
RestrictSUIDSGID=true
LockPersonality=true
