[Unit]
Description=Allsky360 fetch: location (oneshot)
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=allskyuser
Group=allskygroup
WorkingDirectory=/home/allskyuser/database
ExecStart=/opt/allsky360/bin/allsky360-location -c /home/allskyuser/config.ini -d /home/allskyuser/database
ReadWritePaths=/home/allskyuser/database
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=full
ProtectHome=false
RestrictSUIDSGID=true
LockPersonality=true
