[Unit]
Description=Allsky360 fetch: aurora (oneshot)
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=allskyuser
Group=allskygroup
WorkingDirectory=/home/allskyuser/database
# verhindert parallele L.ufe:
ExecStart=/opt/allsky360/bin/allsky360-aurora -c /home/allskyuser/config.ini -d /home/allskyuser/database  -f /opt/allsky360/allsky-api/public/latest_aurora_data.json --kp --mag
# Sandbox (optional, anpassbar):
ReadWritePaths=/home/allskyuser/database
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=full
ProtectHome=false
RestrictSUIDSGID=true
LockPersonality=true
